</br></br>
<%= form_with model: @category, url: category_path do |f| %>
    <div>
        <%= f.label :カテゴリ名変更 %></br>
        <%= f.text_field :category_name, :placeholder =>"#{@category.category_name}",  class:"category-form" %>
        <%= f.submit "Edit name", class: "update"  %>
    </div>
<% end %>